<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262786716326-89epubhn20n3gvk1sd538v75fc14sckp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262786716326-89epubhn20n3gvk1sd538v75fc14sckp</string>
	<key>API_KEY</key>
	<string>AIzaSyANo0zSpw9n7UiG37Ss1LhCvIvcm31Ofcw</string>
	<key>GCM_SENDER_ID</key>
	<string>262786716326</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lucas.LChatApp.com</string>
	<key>PROJECT_ID</key>
	<string>chatapp-c1fef</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-c1fef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262786716326:ios:53e2b6c6d8477e63cc9a67</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-c1fef.firebaseio.com</string>
</dict>
</plist>